/* FONT */
@font-face {
	font-family: 'Roboto-Slab';
	src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
	src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('ttf'),
	  url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

/* MEDIA */
/* @media only screen and (max-width: 671px) { */
  /* For mobile phones: */
  /* .menu {
    display: inline-block;
  }
} */

/* .navbar img {
  width:30px;
}
.bg-light {
  background-color: rgba(232, 245, 233, .1) !important;
} */
/* MEDIA */
@media only screen and (max-width: 576px) {
  /* For mobile phones: */
  .navmobile ul li span {
    display: none;
  }
}

.navmobile ul li span {
  font-size: 14px;
  vertical-align: top;
  font-weight: bold;
}
.navmobile {
  width: 100%;
  background: rgba(232, 245, 233, .1);
  z-index: 10;
  left: auto;
  top: 0px;
  position: fixed;
}
.navmobile ul {
  padding: 0;
  margin: 0 auto;
  width: 521px;
  max-width: 100%;
}
.navmobile ul li {
  font-family: 'Roboto-Slab', serif;
  text-shadow: 0px 1px 2px rgb(232 245 233);
  float: left;
  width: 20% !important;
  color: #343a40;
  text-align: center;
  list-style: none;
  font-size: 20px;
  line-height: 2em;
}

.navmobile ul li span {
    font-size: 14px;
    vertical-align: top;
    font-weight: bold;
}
.navmobile ul li a {
  color: #343a40;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
.navmobile img {
  width: 24%;
  justify-content: center;
}

.banner {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  background-color: black;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner-couple.jpg), #f6f6f6;
  background-position: center, top center;
  background-repeat: no-repeat;
  background-size: cover;
}